<div class="wvu-nav{{#wvu_config.wvu-nav.classes}}{{.}}{{/wvu_config.wvu-nav.classes}}">
  <div class="wvu-nav__container">
    <ul class="wvu-nav__items nav-collapse">
      {{>_wvu-nav__pages}}
    </ul>
  </div>
</div>